<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register Website</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../static/ads/Login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../static/ads/Login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../../static/ads/Login/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form method='POST' name ='RegisterWebsite' class="login100-form validate-form">
					{%csrf_token%}
					<span class="login100-form-title p-b-49">
						Register Website
					</span>

					<div class="wrap-input100 validate-input m-b-23">
						<span class="label-input100">URL</span>
						<input class="input100" type="text" name="url" required ='required' placeholder="Your URL">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Description</span>
						<textarea style="height:150px;" class="input100" type="text" name="des" required ='required' placeholder="Your Description goes here" >
                        </textarea>
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <br><br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn"  onclick="this.disabled=True;this.form.submit()">
								Submit
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../../static/ads/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/ads/Login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/ads/Login/vendor/bootstrap/js/popper.js"></script>
	<script src="../../static/ads/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/ads/Login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/ads/Login/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../static/ads/Login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../static/ads/Login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../static/ads/Login/js/main.js"></script>

</body>
</html>